<!-- Section Breadcrumbs-->
<section id="breadcrumb">
  <div class="b-c">
	  <div class="container">
	    <ul class="breadcrumb">
	      <li class="title">Вы здесь</li>
	      <li><%= link_to 'Главная', root_path %><span class="divider"><%= image_tag("br-arrow.png") %></span></li>
	      <li><%= link_to 'Контакты', contact_us_path %></li>
	    </ul>
	  </div> <!--/.container -->
  </div> <!--/.b-c -->
</section> <!--#breadcrumb -->
<!-- End Section Breadcrumb -->

<!-- Section frame-->
<section id="frame">
  <div class="container">
    <div class="row-fluid">
      <div class="frame">
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ru/maps?f=q&amp;source=s_q&amp;hl=ru&amp;geocode=&amp;q=%D1%83%D0%BB.+%D0%9F%D1%80%D0%B0%D0%B6%D1%81%D0%BA%D0%B0%D1%8F,+%D0%B4%D0%BE%D0%BC+12,+%D0%BA%D0%BE%D1%80%D0%BF%D1%83%D1%81+1&amp;aq=&amp;sll=59.878233,30.385396&amp;sspn=0.006343,0.021136&amp;t=m&amp;gl=ru&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%9F%D1%80%D0%B0%D0%B6%D1%81%D0%BA%D0%B0%D1%8F+%D1%83%D0%BB.,+12+%D0%BA%D0%BE%D1%80%D0%BF%D1%83%D1%81+1,+%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,+%D0%B3%D0%BE%D1%80%D0%BE%D0%B4+%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3&amp;z=14&amp;iwloc=&amp;output=embed"></iframe>
      </div> <!--/.frame -->
    </div> <!--/.row-fluid -->
  </div> <!--/.container -->
</section>
<!-- End Section frame-->

<!-- Section content -->
<section id="content" class="contact">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <div class="page clearfix no-marg-bottom">
          <h3 class="tree">Наши координаты</h3>

          <ul class="contact">
            <li><i class="call"></i>Телефоны для записи: <%= Info.first.phone_number %></li>
            <li><i class="address"></i>Адрес: <%= Info.first.location %></li>
          </ul>

        </div> <!--/.page .clearfix .no-marg-bottom -->
      </div> <!--/.span7 -->
    </div> <!--/.rpw-fluid -->
  </div> <!--/.Container  -->
</section>
<!-- End Section content -->