<!-- Section Breadcrumbs-->
<section id="breadcrumb">
  <div class="b-c">
    <div class="container">
      <ul class="breadcrumb">
        <li class="title">Вы здесь</li>
        <li><%= link_to 'Главная', root_path %><span class="divider"><%= image_tag("br-arrow.png") %></span></li>
        <li><%= link_to 'Врачи', 'javascript:void(0)' %><span class="divider"><%= image_tag("br-arrow.png") %></span></li>
        <li><%= link_to @specialty.name, 'javascript:void(0)' %></li>
      </ul>
    </div> <!--/.container -->
  </div> <!--/.b-c -->
</section> <!--#breadcrumb -->
<!-- End Section Breadcrumb -->

<!-- Section content -->
<section id="content" class="typography">
  <div class="container">
    <div class="row-fluid">
      <!-- Unordered Lists -->
      <div class="page">
        <div class="container">
          <h3 class="tree"><%= @specialty.name %></h3>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>ФИО</th>
              <th>Должность</th>
              <th>Телефон</th>
            </tr>
            </thead>
            <tbody>
              <% @specialty.doctors.order(:name).each do |doctor| %>
                <tr>
                  <td><%= doctor.name %></td>
                  <td><%= doctor.status %></td>
                  <td><%= doctor.phone %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
        <!--/.container -->
      </div>
      <!--/.page -->
      <!-- End Unordered Lists -->
    </div>
    <!--/.container -->
  </div>
</section>