<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @doctor.name %>
</p>

<p>
  <b>Status:</b>
  <%= @doctor.status %>
</p>

<p>
  <b>Phone:</b>
  <%= @doctor.phone %>
</p>

<p>
  <b>Specialty:</b>
  <%= link_to @doctor.specialty.name, @doctor.specialty %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
