<!DOCTYPE html>
<html>
<head>
  <title>Последние новости гомеопатической поликилиники №82</title>
  <meta name="description" content="Гомеопатическая поликлиника №82 является старейшей гомеопатической поликлиникой страны, которая много лет существовала на улице Пражская 12. Доктора нашей поликлиники хорошо владеют гомеопатическим методом лечения, но при необходимости могут лечить пациентов и аллопатическими средствами. С августа 2013г. после проведения реорганизации  мы находимся в составе многопрофильного учрежения «Городская поликлиника №44» фрунзенского района.
            В настоящее время  у коллектива нашей клиники отсутствует информация относительно своего будущего местоположения, поэтому просим следить за новостями этого сайта.">
  <meta name="Keywords" content="поликлиника, гомеопатия, 82, гомеопатическая, гомеопатическая поликлиника, гомеопатическая поликлиника № 82, пражская 12, Пражская улица">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.carousel').carousel({interval: 7000 });
    });
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Header -->
  <header>
    <div class="container">
      <div class="row-fluid">
        <!-- logo -->
        <div class="span6 logo">
          <%= link_to(image_tag("logo.jpg"), root_path) %>
        </div>
        <!-- End Logo -->
      </div>
      <!--/.row-fluid -->
    </div>
    <!--/.container -->
  </header>
  <!-- End Header -->

  <!-- Section top -->
  <section id="top">
    <div class="container">
      <!-- Main Menu -->
      <div class="navbar">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            Main Menu
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><%= link_to 'Главная', root_path %></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                  Врачи
                </a>
                <ul class="dropdown-menu">
                  <% Specialty.order(:name).each do |specialty| %>
                    <li><%= link_to specialty.name, main_specialties_path(specialty.id) %></li>
                  <% end %>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                  Услуги
                </a>
                <ul class="dropdown-menu">
                  <% Service.order(:name).each do |service| %>
                    <li><%= link_to service.name, main_services_path(service.id) %></li>
                  <% end %>
                </ul>
              </li>
              <li><%= link_to 'Контакты', contact_us_path %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.navbar-inner -->
      </div><!--/.navbar -->
      <!-- End Main Menu -->

      <% if action_name == 'index' %>
      <!-- Home page Carousel -->
      <div class="frame">
        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"><%= image_tag("slider/homeopathy.jpg") %></div>
            <div class="item"><%= image_tag("slider/forest.jpg") %></div>
          </div><!--/.carousel-inner -->

          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
        </div><!--/#myCarousel -->
      </div><!--/.frame -->
      <!-- End Home page Carousel -->
      <% end %>

    </div><!--/.container -->
  </section><!--/#top -->
  <!-- End Section top -->

  <%= yield %>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <ul class="nav nav-list">
            <li class="nav-header">Контакты</li>
            <li><span class="label label-inverse">Телефоны для записи</span> <%= Info.first.phone_number %></li>
            <li><span class="label label-inverse">Адрес</span> <%= Info.first.location %></li>
          </ul>
        </div><!--/.span3 -->
        <div class="span12 copyright">
          © 2013 polyclinic82. All Rights reserved.
        </div><!--/.span12 -->
      </div><!--/.row-fluid -->
    </div><!--/.container -->
  </footer>
  <!-- End Footer -->

</body>
</html>

<% unless action_name == 'index' %>
<script type="text/javascript">
  $(window).resize(function(){
    $("#content").css("min-height", function(){
        return $(window).height() -
            $("header").height() -
            $("#top").height() -
            $("#breadcrumb").height() -
            $("#frame").height() -
            ($("#frame").outerHeight(true) - $("#frame").height()) -
            $(".frame").height() -
            ($(".frame").outerHeight(true) - $(".frame").height()) -
            ($("#breadcrumb").outerHeight(true) - $("#breadcrumb").height()) -
            ($("#content").outerHeight(true) - $("#content").height()) -
            ($("footer").outerHeight(true) - $("footer").height()) -
            $("footer").height() ;
    });
  })
  $(window).resize();
</script>
<% else %>
  <script type="text/javascript">
    $(window).resize(function(){
      $("#content").css("min-height", function(){
          return $(window).height() -
              $("header").height() -
              325 -
              $("#breadcrumb").height() -
              ($("#breadcrumb").outerHeight(true) - $("#breadcrumb").height()) -
              ($("#content").outerHeight(true) - $("#content").height()) -
              ($("footer").outerHeight(true) - $("footer").height()) -
              $("footer").height() ;
      });
    })
    $(window).resize();
  </script>
<% end %>
